*{
    margin: 0;
    padding: 0;
}

//base
@import'./base/variables';


//componentes
@import'./componentes/header';
@import'./componentes/footer';
@import'./componentes/clases';

h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin: 10px;
    font-family: 'IM Fell Double Pica', serif;
    color: white;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    font-family: $fuente1;
    color: white;
}

h3{
    color: black;
}

h4{
    font-size: 35px;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    background-color: $bg-color;
    display: grid;
    color: black;
}

body{
    background-color: black;
    p{
        color: black;
    }
}
